/******************************************************************************
 * Global styles                                                              *
 ******************************************************************************/

* {
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace, monospace; 
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flow-root;
}

body, html {
  margin: 0px;
  padding: 0px;
  color: #cdd6f4;
  background: #181825;
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
  border: none;
  font-size: 12pt;
}
h1,h2,h3,h4,h5,h6 {
  font-family: inherit;
}


/******************************************************************************
 * Page layout (wacky and strange)
 ******************************************************************************/

:root {
	/* Height of the navbar and footer, fixed. */
	--nav-height: 40pt;
	--footer-height: 20pt;

	/* Height and width of the main content.
	 * - Height is calculated to exclude nav and footer
	 * - Width is from the page width */
	--main-height: 90%;
	--main-width:  90%;
}

nav {
	height: var(--nav-height);
	margin: auto;
}
main {
	height: calc(var(--main-height) - var(--nav-height) - var(--footer-height));
	width: var(--main-width);
	margin: auto;
  background: #1e1e2e; 

	/* Allow scrolling overflow content within */
	overflow: auto;
	margin-top: calc((100% - var(--main-height))/4);
	border: thin solid #313244;
}
footer {
	height: var(--footer-height);
	margin: auto;

	/* Anchor to the bottom of the page */
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 10px;
	width: calc(100% - 10px);
} 

div.content {
  height: auto;
  overflow: hidden;
}


/******************************************************************************
 * Section formatting                                                         *
 ******************************************************************************/

section {
  overflow: hidden;
}

section#experience {
  float: right;
  width: 50%;
}
section#about {
  float: left;
  width: 50%;
}
section#projects {
  float: left;
  width: 50%;
}
section#sshkeys {
  float: left;
  width: 100%;
}
section#gpgkeys {
  float: left;
  width: 50%;
}
section#asciiart {
  float: right;
  width: 50%;
}
section#asciiart img {
  position: relative;
  float: left;
  max-height: 100%;
  width: auto;
}
/* For tablets and mobile phones */
@media only screen and (max-width: 768px) {
  section#experience, section#about, section#projects {
    width: 100%;
  }
}
/* Fill some space with asciiart if screen is too wide */
@media only screen and (max-width: 1000px) {
  section#asciiart, section#gpgkeys {
    width: 100%;
  }
}


/******************************************************************************
 * General formatting                                                         *
 ******************************************************************************/

.padded {
  padding: 0.4em;
}

.indented {
  padding-left: 1em;
}

.dim {
  color: #a5acc5;
}

/* 404 error */
h1#err404 {
	color: #d20f39;
	font-size: 30pt;
}


/******************************************************************************
 * A whole bunch of font stuff                                                *
 ******************************************************************************/

h1,h2,h3,h4,h5,h6 {
  font-size: 12pt;
}

h1 {
  color: #a6e3a1;
  font-weight: bold;
  font-size: 14pt;
  letter-spacing: 1.2pt;
}

h2 {
  color: #94e2d5;
  font-size: 12pt;
  font-weight: bold;
  margin-top: 4pt;
  letter-spacing: 1pt;
}

address {
  font-style: normal;
}

ul {
  margin-left: 0;
  list-style: none;
}

li {
  position: relative;
}

li::before {
  content: ">";
  left: -1.2em;
  position: absolute;
}

#info address {
  display: inline-block;
  font-size: 14pt;
}
.contactinfo {
  list-style: none;
  display: inline-block;
}
.contactinfo li {
  display: inline-block;
  position: relative;
}
.contactinfo li::before {
  display: none;
}

.navlinks li {
  display: inline;
}
.navlinks li::before {
  display: none;
}

a.navlink:link, a.navlink:visited {
  text-decoration: none;
  font-weight: bold;
  color: #89b4fa;
}
a.navlink:hover {
  color: #f4a6f7;
}
a.navlink:active {
  color: #f5c2e7;
}

.jobdescription, .description {
  margin-top: 2pt;
  margin-left: 0.8em;
  font-size: 10pt;
}

section#info .description {
  margin-top: 1em;
}

section#info {
	border-bottom: thin solid #313244;
  margin-bottom: 1em;
}

.jobtitle {
  font-style: italic;
}

li + li {
  margin-top: 4pt;
}

a:link {
  color: #89b4fa;
}
a:visited {
  color: #cba6f7;
}
a:hover {
  color: #f4a6f7;
}
a:active {
  color: #f5c2e7;
}

.links {
  float: right;
  font-weight: normal;
}

pre {
  overflow: auto;
  display: block;
  padding: 8pt;
  margin: 10pt 1em 20pt 1em;
  font-size: 12pt;
  line-height: 2;
  color: #cdd6f4;
  background-color: #11111b;
}
