* {
  box-sizing: border-box;
  font-family: 'Source Code Pro', monospace, monospace; 

	/* Reset everything to keep navbar flush to top 
	 * and reduce formatting irregularities */
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	width: 100%;
  height: 100vh;
  position: relative;
  display: flow-root;
	background-color: yellow;
}

:root {
	--nav-height: 35pt;
	--main-height: 90%;
	--main-width:  90%;
	--footer-height: 20pt;
}

/* Set up nav, footer, and .content to all appear on one
 * view of the page. */
nav {
	height: var(--nav-height);
	margin: auto;
	background-color: blue;
}
footer {
	/* Right now the footer shows up with a LITTLE space after it
	 * before the page ends, but I'm gonna just let it be for now. */
	height: var(--footer-height);
	margin: auto;
	background-color: red;

	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
} 
.content {
	height: calc(var(--main-height) - var(--nav-height) - var(--footer-height));
	width: var(--main-width);
	/* allow scrolling overflow content within */
	overflow: auto;
	margin: auto;
	margin-top: calc((100% - var(--main-height))/4);
	border: thin solid #4A4A57;
	background-color: green;
}

section {
	overflow: hidden;
}

.projects {
}
.experience {
}
.about {
}
.info {
}

.padded {
	padding: 0.4em;
}
.indented {
	padding-left: 1em;
}
.dim {
}

h1#err404 {
	color: red;
	font-size: 30pt;
}
