{% extends 'base.html' %}

{% block content %}
<div class=padded>
  <!-- TODO make the 404 text show up more spookily or something -->
  <h1 id="err404">{% block title %}404 error!{% endblock %}</h1>
  <p>Looks like you ended up at a page that doesn't exist.</p>
  <p>Try going back to the <a href="{{url_for('index')}}">homepage</a>, or using the links at the top to navigate somewhere else.</p>
  <p>If this problem persists, it might be worth contacting <a itemprop="email" href="mailto:webmaster@almendra.dev">webmaster [at] almendra.dev</a> to report it.</p>
</div>
{% endblock %}
