{% extends 'base.html' %}

{% block content %}
<section id="info" itemscope itemtype="http://schema.org/Person">
  <div class="padded">
    <h1 itemprop="name">almond heil</h1>
    </h1>
    <address>
      <ul class="contactinfo">
        <li class="padded" itemprop="gender">it / they</li>
        <li class="padded" itemprop="email"><a rel="me" href="mailto:contact@almendra.dev">contact [at] almendra.dev</a></li>
        <li class="padded" itemprop="github"><a rel="me" target="_blank" href="https://github.com/almondheil">github.com/almondheil</a></li>
      </ul>
    </address>
  </div>
</section>

<!-- Section: About Me -->
<section id="about" itemscope itemtype="http://schema.org/ItemList">
  <div class="padded">
    <h2 itemprop="name">about me 👋</h2>
    <div class="indented" itemtype="http://schema.org/Text">
      <p>
        Hi there! My name is almond, and I like messing around with computers.
      </p>
      <p>
        I'm an undergrad at
        <a target="_blank" href="https://www.grinnell.edu/">Grinnell College</a>
        majoring in Computer Science, but also dabbling in pure math,
        linguistics, theater, and anything else that catches my attention. In
        order of my favorites, I'm comfortable programming in C, Python,
        Haskell, and Java.
      </p>
      <p>
        I'm also that nerd who uses linux on its personal laptop (surely
        widespread adoption can't be <b>that</b> far off, right?), and tries to
        use `awk`, `grep`, and a whole host of other CLI tools whenever they can
        get away with it.
      </p>
      <p>
        When it comes to computing, I'm really fascinated by system
        administration. I already really enjoy working on the command line, and
        I've started to find a lot of enjoyment in troubleshooting any issues
        that arise on the servers that I manage.
      </p>
      <p>
        I've also come to realize that I really love working in peer education,
        especially in the context of CS. I've been able to participate in it a
        lot more thanks to being a TA at Grinnell, but even outside of school I
        find a lot of value in working with people on their projects--I learn a
        lot about what they're doing, and hopefully they learn more about how
        to code it! It's a win-win.
      </p>
      <p>
        My favorite computer related activities include tinkering with various
        projects, manager, playing Celeste, and breaking my window manager
        every other week. I also like reading--I love some good mystery and
        sci-fi, and have a particular soft spot for Kazuo Ishiguro. I've also
        been getting back into origami after several years, which is always a
        delight up until the point where I have a crumpled mess of paper in my
        hands.
      </p>
    </div>
  </div>
</section>

<!-- Section: Experience -->
<section id="experience" itemscope itemtype="http://schema.org/ItemList">
  <div class="padded">
    <h2 itemprop="name">experience 🔍</h2>
    <ul>
      {% for e in experience %}
      <li itemprop="itemListElement">
        <p class="timeplace">
          {{ e['formatted_date'] | safe }}
          <span class="employer"><a href="{{ e['url'] }}" target="_blank">{{ e['name'] }}</a></span>
        </p>
        <p class="jobinfo">
          <p class="jobtitle">{{ e['position'] }}</p>
          <p class="jobdescription">{{ e['description'] }}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

<!-- Section: Projects -->
<section id="projects" itemscope itemtype="http://schema.org/ItemList">
  <div class="padded">
    <h2 itemprop="name">projects 📕</h2>
    <ul>
      {% for p in projects %}
      <li itemprop="itemListElement">
        <p class="projectlink">
          <a target="_blank" href="{{ p['url'] }}">
            {{ p['url'] }}
          </a>
        </p>
        <p class="description"> {{ p['description'] }} </p>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
{% endblock %}
